@font-face {
  font-family: face;
  src: url(/assets/font/MarchiseTrial-Bold.ttf) format('truetype');
}

.head{
  font-family: face;
  position: relative;     
  left: 40px;            
  white-space: nowrap; 
  z-index: 10;   
  font-size: 60px;         
}
.sidebar {
  width: 220px;
  background: #515354;
  color: white;
  min-height: 100vh;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  transition: background 0.3s;
}

.sidebar ul li a:hover {
  background: #8c8c8c;
  border-radius: 4px;
}

main {
  margin-left: 220px; 
  padding: 20px;
  flex: 1;
  background: #f9f9f9;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(/assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.vertikal-text{
  writing-mode: vertical-lr;
  color: #fff;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  border: 6px;
  padding-top: 120px;
  padding-right: 30px;
}


  